.about-me-1-container {
    display: inline-grid;
    grid-template-columns: 0.6fr 1.3fr;
    grid-gap: 30px;

    height: 100vh;
    justify-content: center;
    align-items: center;

    padding: 40px 0 60px 75px;

    margin-bottom: 100px;

    /*border: 2px black solid;*/
}

.about-me-1-container img {
    height: auto;
    width: 100%;

    border-radius: 3px;
}

.cards-container {
    height: auto;
    width: 100%;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    /*border: 2px black solid;*/
}

.cards {
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 10px;

    display: grid;
    /*grid-template-rows: 0.5fr 1fr;*/

    align-content: start;

    /*border: 1px black solid;*/
    border-radius: 10px;
    z-index: 100;
}

.title {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
}

.cards img {
    height: 35px;
    width: 35px;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 2em;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    margin: 5px;
}

.generals p {
    font-size: 1.2em;
}

@media all and (max-width: 500px) {
    .about-me-1-container {
        display: flex;

        padding: 20px;
        margin: 0 30px 100px 30px;
    }

    .about-me-1-container .prof-pic {
        display: none;
    }

    h1 {
        font-family: 'Merriweather', serif;
        font-size: 2.5em;
    }

    p {
        font-family: 'Merriweather', serif;
        font-size: 1.3em;
        margin: 5px;
    }

    .generals p {
        font-size: 1.5em;
    }
}

@media only screen /* for iphone mini 12*/
and (device-width: 375px)
and (device-height: 812px)
and (-webkit-device-pixel-ratio: 3) {
    .about-me-1-container {
        display: grid;

        padding: 0;
        margin: 0 30px 150px 30px;
    }

    .about-me-1-container .prof-pic {
        display: none;
    }

    h1 {
        font-family: 'Merriweather', serif;
        font-size: 2.5em;
    }

    p {
        font-family: 'Merriweather', serif;
        font-size: 1.3em;
        margin: 5px;
    }

    .generals p {
        font-size: 1.5em;
    }
}