.greeting {
    color: white;
    size: 8vw;
}

.greeting h1{
    margin-bottom: 0;
    font-size: 6.5em;

    text-align: right;
}

.greeting p{
    margin-top: 0;
    text-align: right;
    font-size: 2em;
}


