.greet {
    display: inline-grid;
    align-content: start;
    justify-items: left;
    grid-template-columns: 1fr 0.25fr;

}

.greeting {
    padding-left: 30px;
    color: white;
    text-align: left;
    min-width: fit-content;
}

.greeting h1{
    margin-bottom: auto;
    font-size: 100px;
}

.greeting p{
    font-size: 30px;
    text-align: justify;
}


