html {
  scroll-behavior: smooth;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
  font-family: 'Merriweather', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  align-content: center;
  min-width: 800px;
}

@media all and (max-width: 500px) {
  html {
    zoom: 0.4;
  }
}