.landing-page {
    display: grid;
}

.header-image {
    background: url("../header-image.png") no-repeat center center fixed;
    background-position-x: center;
    background-size: cover;

    height: 100vh;
    display: grid;
    grid-template-rows: 0.2fr 1fr 1fr 0.3fr;

    padding: 10px;
}

.header-image #navbar {
    display: grid;
    justify-content: start;
}

.header-image #greeting {
    display: grid;
    width: 100%;
    justify-content: end;
}

.page-body {
    /*border: black solid 2px;*/

    display: grid;
    align-items: center;

    padding: 10px 0 0 10px;
}



