.landing-page {
    display: grid;
    grid-gap: 20px;
}

header{
    height: 85vh;
}

.header-image {
    background: url("../header-image.png") no-repeat center center fixed;
    background-position-x: center;
    background-size: cover;

    height: 100%;
    display: grid;
    align-items: center;
    justify-content: start;
}


.page-body {
    /*border: black solid 2px;*/

    display: grid;
    align-items: center;

    padding: 10px 0 0 10px;
}



