.nav-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: black;
  height: 100%;
  text-align: center;
  text-decoration: underline;
  right: 0;
}

.nav-bar a {
  font-size: .9rem;
  transform: rotate(-90deg);
  font-weight: 400;
  border-radius: 5px;
  display: flex;
  place-items: center;
  cursor: pointer;
}

.nav-bar a:nth-child(1) {
  animation: .6s ease-out 0s normal forwards 1 spawn-opacity;
}

.nav-bar a:nth-child(2) {
  animation: 1s ease-out 0s normal forwards 1 spawn-opacity;
}

.nav-bar a:nth-child(3) {
  animation: 1.4s ease-out 0s normal forwards 1 spawn-opacity;
}

.nav-bar a:hover {
  font-weight: 900;
}

@keyframes spawn-opacity {
  0% {
    opacity: 0
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}